@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans';
}

.rotate-class {
    transform: rotate(90deg);
}

.main-section {
   padding: 2rem;
}

.loader {
    margin: 3rem auto;
}

.no-data-container {
    text-align: center;
  }