.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 3rem;
}

.login-logo {
  width: 7rem;
  margin-bottom: 3rem;
}

.textfields-container {
  width: 100%;
  max-width: 400px;
}

.loader {
  display: block;
  margin: auto;
}
