.add-new-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  .add-new-user-textfields-container {
    width: 100%;
    max-width: 400px;
  }
  
  .loader {
    display: block;
    margin: auto;
  }
  