.add-new-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.add-new-user-textfields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loader {
    margin: 3rem auto;
}

.error-message {
    color: red;
}