.search-filters-buttons-container {
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
}

.mobile-search-filters-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
   }

.filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
}

.filters-container {
    flex-grow: 1;
}

.filter-input {
    width: 180px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .filter-input {
        width: 80vw;
    }
}