  .editable {
    font-size: 1rem;
    margin-left: 0.5rem;
    max-width: 100px;
  }
  
   .gallery {
    margin-left: 1rem;
    margin-right: 1rem;
   }

   .select-pdf-location-buttons-container {
    display: flex;
    margin-right: auto;
   }

   .mobile-select-pdf-location-buttons-container {
    display: flex;
    align-self: flex-start;
   }
  
   .view-mode-icons-container {
    display: flex;
    margin-left: 1.2rem;
   }

   .mobile-view-mode-icons-container {
    display: flex;
   }

   .mobile-view-mode-actions-container {
    display: flex;
    align-self: flex-end;
    margin-top: 1rem;
    margin-bottom: -1rem;
   }

   .filter-item {
    margin-left: 1rem;
   }