.sort-container {
    display: flex;
    align-items: center;
}

.mobile-sort-container {
    display: flex;
    align-items: center;
}

.sort-input {
    width: 150px;
    background-color: white;
    border-radius: 4px;
    margin-right: 1rem;
    margin-left: 1rem;

}

.mobile-sort-input {
    width: 80%;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}