.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    margin-right: 0.5rem;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid #00C8F4;
}