body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

main {
  margin: 2rem;
}

.center {
  margin: auto;
  width: 50%;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
 }

 .loginSignupTextContainer {
  position: absolute;
  top:100%;
  margin-top: 1rem;
  text-align: center;
 }

