.imagesContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

  .imageAndButtonsContainer {
  position: relative;
  width: 200px;
  }

  .image {
    width: 200px;
    height: auto;
  }

  .infoButtons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .numberLabel {
    position: absolute;
    background: rgb(85, 84, 84);
    color: white;
    padding: 0 0.3rem;
  }
  
  .downloadButtonContainer {
    position: absolute;
    right: -5px;
    top: -12px;
  }

  .infoButtonContainer {
    position: absolute;
    right: -5px;
    top: 15px;
  }

  .searchBar {
    margin-top: 4rem;
  }
