.storageSection {
    width: 100vw;
}

.entryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 3rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.imageContainer {
    width: 300px;   
}

.artImage {
    width: 100%;
    height: auto;
}
.btnFlexOuterContainer {
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}

.btnFlexInnerContainer {
display: flex;
flex-direction: row;
}
