.imagesContainer {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-left: 5rem;
  padding-right: 5rem;
}

  .imageAndButtonsContainer {
  position: relative;
  width: 200px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  }

  .image {
    width: 200px;
    height: auto;
  }

  .infoButtons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .numberLabel {
    position: absolute;
    background: rgb(85, 84, 84);
    color: white;
    padding: 0 0.3rem;
  }

  .downloadButtonContainer {
    position: absolute;
    right: -5px;
    top: -12px;
  }

  .infoButtonContainer {
    position: absolute;
    right: -5px;
    top: 15px;
  }

  .searchBar {
    margin-top: 3rem;
  }
