
  .card-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }

  .card-header {
    font-size: small;
    font-weight: 600;
  }
  
  .card {
    margin: 0;
    padding-bottom: 0.2rem;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
  }