.editable-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.editable-label-input {
    display: flex;
    overflow: hidden;
}

.info-item {
    overflow: hidden;
}

.input-label {
    font-weight: 600;
}