.editable {
  display: block;
}
 .columnCount {
  column-count: 3;
  column-gap: 10px;
 }

 .mainImageInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
 }

@media screen and (max-width: 900px) {
  .galleryItem {
    width:100%;
  }
}
