.infoTextField {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.pre-print {
    height: auto !important;
    max-width: 600px !important;
}

/*Print Dialog*/
@media print {
    body * {
        visibility: hidden;
    }
    #DialogPrint,
    #DialogPrint * {
        visibility: visible;
    }
}

.non-editable-fields-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.3rem;
    margin-top: 1rem;
}

.dialog-title {
    cursor: move
}

@media screen and (max-width: 400px) {
    .imageInfoModal {
        width: 200px;
    }
  }




