

.imageLink {
    width: 100px;
}

.logo {
    width: 75px;
    margin-top : 0.5rem;
    margin-right: 3rem;
    margin-left: 1rem;
}

.logoNav {
    width: 75px;
    margin-top : 0.5rem;
    margin-right: 5rem;
    margin-left: -1.8rem;
}

.bar {
    background: rgb(29, 28, 28);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}