@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.navbar {
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.80);
 
}

.mobile-navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.80);

    width: 100vw;

}

.mobile-nav-links-container {
    font-size: 18px;
    line-height: 1.25rem;
    margin-right: -8rem;
}

.hidden {
    visibility: hidden;
}

.navbar-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #40C8F4;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.navbar-elements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 80px;
    height: 55px;
    margin-right: 1rem;
}

.mobile-logo {
    width: 56px;
    height: 38px;
}

.current-location {
    color: white;
    margin-left: 1rem;
    font-size: 20px;
}

.nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    color: #40C8F4;
    font-size: 18px;
}

.mobile-nav-link {
    color: #40C8F4;
    margin-top: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    display: block;
}

.right-side {
    display: flex;
    margin-left: auto;
   
}