.sort-buttons-container {
    display: flex;
    margin-right: 3rem;
  }
  
  .sort-button-and-icon-container {
    display: flex;
    margin-right: 1rem;
  }

  .sort-icon {
    margin-left: 0.5rem;
  }
  