.flexContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 350px) {
    .flexContainer {
        width: 50vw;
    }
  }

@media screen and (min-width: 1200px) {
    .flexContainer {
        width: 40vw;
    }
  }

.buttonsFlexContainer {
    display: flex;
    flex-direction: row;
}
